<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>instagram</string>
	</array>
	<key>NSMotionUsageDescription</key>
	<string>Tenis vuruş hızınızı ve ivmesini ölçmek için hareket sensörlerine erişim gerekir.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Maç sırasında ısı haritanızı çıkarabilmek için konumunuza erişim gerekir.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Telefonunuz cebinizdeyken veya ekran kapalıyken konum takibini sürdürebilmek için her zaman konum izni gerekir.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
